@import "../base.scss";
.search-box {
    width: 1200px;
    min-height: 600px;
    margin: 0 auto;
    color: #333;
}
.search-box-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}
.search-main{
    width: 928px;
}
.search-box-top{
    line-height: 50px;
    color: #666;
    font-size: 14px;
    .search-box-keyword {
        color: #ed0a75;
    }
}
.search-factor {
    padding: 0 24px;
    border: 1px solid #e9e9e9;
}
.factor-content-item-default{
    margin-right: 6px;
}
.factor-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px dotted #dfdfdf;
}
.factor-title {
    width: 80px;
    line-height: 26px;
    color: #968788;
    text-align: right;
    margin-right: 18px;
}
.factor-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.factor-selected {
    color: #9b9b9b;
    margin-bottom: 6px;
}
.factor-content-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.factor-content-item{
    cursor: pointer;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
    margin-right: 24px;
    color: #333;
    white-space: nowrap;
    
}
.factor-content-item-default {
    margin-right: 6px;
}
.factor-content-item-active,
 .factor-content-item:hover {
    background-color: #ed0b75;
    color: #fff;
}
.factor-selected-city {
    display: inline-block;
    height: 26px;
    padding: 0 8px;
    margin-left: 6px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    background-color: #ed0b75;
}
.factor-more{
    background: url(//img.alicdn.com/tfs/TB16Z3cyWmWBuNjy1XaXXXCbXXa-20-390.png) 30px 8px no-repeat;

}
.factor-less,
 .factor-more {
    width: 32px;
    height: 20px;
    color: #999;
    padding-right: 8px;
    cursor: pointer;
    margin: 2px 0 0 -40px;
}

.factor-more {
    background: url(//img.alicdn.com/tfs/TB16Z3cyWmWBuNjy1XaXXXCbXXa-20-390.png) 30px 8px no-repeat
}

.factor-less {
    background: url(//img.alicdn.com/tfs/TB16Z3cyWmWBuNjy1XaXXXCbXXa-20-390.png) 30px -12px no-repeat
}

.calendar {
    position: relative;
    z-index: 100;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.calendar-back {
    font-size: 12px;
    border: 1px solid #c4ced3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 4px;
    cursor: pointer;
    -webkit-transform: scale(.86);
    -moz-transform: scale(.86);
    -ms-transform: scale(.86);
    -o-transform: scale(.86);
    transform: scale(.86);
    display: inline-block
}

.calendar-back:hover {
    color: #ed0a75
}

.calendar-main {
    position: absolute;
    top: 100%;
    width: 350px;
    padding: 12px;
    border: 1px solid #e4e7ed;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.calendar .align-left {
    left: 0
}

.calendar .align-right {
    right: 0
}

.calendar .align-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.calendar-header {
    text-align: center
}

.calendar-nav {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    color: #303133
}

.calendar-nav-left {
    float: left
}

.calendar-nav-right {
    float: right
}

.calendar-nav-disabled {
    color: #ccc
}

.calendar-content-body,.calendar-content-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.calendar-content-header {
    border-bottom: 1px solid #ebeef5
}

.calendar-content-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    padding: 11px 3px 10px;
    text-align: center;
    cursor: pointer;
    color: #606266
}

.calendar-content-item-holiday {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    font-size: 12px;
    line-height: 14px;
    background: #f43;
    color: #fff
}

.calendar-content-item-day {
    display: block;
    height: 22px;
    width: 22px;
    margin: 0 auto;
    line-height: 22px
}

.calendar-content-item-today {
    color: #409eff
}

.calendar-content-item-active {
    color: #fa2855;
    border: 1px solid #fa2855;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.calendar-content-item-disabled {
    color: #ccc;
    cursor: default
}

.calendar-content-item-festival {
    display: block;
    height: 12px;
    font-size: 12px;
    color: #999;
    -webkit-transform: scale(.83);
    -moz-transform: scale(.83);
    -ms-transform: scale(.83);
    -o-transform: scale(.83);
    transform: scale(.83)
}
.sort__num {
    min-width: 48px;
    line-height: 39px;
    font-size: 12px;
    float: left;
    text-align: center
}

.search-sort {
    height: 38px;
    line-height: 38px;
    background: #f5f5f5;
    border: 1px solid #eaeaea;
    font-size: 14px;
}
.search-main-sort {
    margin-top: 14px;
}
.search-sort_fl {
    float: left;
}


.search-sort_fr {
    border-left: 1px solid #eaeaea;
    float: right
}

.search-sort-item {
    display: inline-block;
    height: 100%;
    padding: 0 24px;
    border-right: 1px solid #eaeaea;
    color: #666;
    cursor: pointer
}

.search-sort-item-active {
    border-color: #dfdfdf #dfdfdf #fff;
    background-color: #fff;
    color: #ed0a75;
    margin-top: 1px
}

.c4 {
    color: #ff1268
}

.item__main {
    padding: 5px 18px;
    min-height: 211px;
    margin-bottom: 20px
}

.noitem {
    padding: 26px 0;
    border: none;
    line-height: 34px;
    font-size: 16px
}

.list-loading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 26px 0
}

.list-loading:before {
    content: " ";
    background: url(//img.alicdn.com/tfs/TB1LDTioQomBKNjSZFqXXXtqVXa-100-100.gif) no-repeat 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px
}

.items {
    position: relative;
    padding: 25px 0 18px;
    border-bottom: 1px dotted #cecece;
    margin: 0 10px;
    zoom:1}

.items:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: "."
}

.items__img {
    position: relative;
    display: block;
    width: 153px;
    height: 206px;
    overflow: hidden;
    margin-right: 20px;
    float: left
}

.items__img img {
    width: 100%;
    height: 100%
}

.items__img__tag {
    position: absolute;
  
    background: #ff1268;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.items__txt {
    width: 680px;
    line-height: 24px;
    float: left
}

.items__txt__title {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 400
}

.items__txt__title a {
    color: #333;
    text-decoration: none;
    outline: 0
}

.items__txt__title a:hover {
    color: #ff1268
}

.items__txt__tags span {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 6px;
    font-size: 12px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8)
}

.items__txt__tags span.yingxiao {
    border: 1px solid #ff1268;
    color: #ff1268
}

.items__txt__tags span.xuanzuo {
    border: 1px solid #999;
    color: #999
}

.items__txt__time {
    margin-bottom: 6px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #999
}

.items__txt__time__icon {
    width: 14px;
    height: 14px;
    margin-top: 5px;
    cursor: text;
    display: block;
    float: left;
    margin-right: 5px;
    background: url(//img.alicdn.com/tfs/TB1981syYGYBuNjy0FoXXciBFXa-36-323.png) no-repeat;
    background-position: 0 -47px
}

.items__txt__venue__icon {
    background: url(//img.alicdn.com/tfs/TB1981syYGYBuNjy0FoXXciBFXa-36-323.png) no-repeat 0 -82px;
    padding-left: 17px
}

.items__txt__price {
    position: absolute;
    bottom: 12px;
    color: #999;
    overflow: hidden
}

.items__txt__price span {
    color: #ff1268;
    font-weight: 700;
    font-size: 16px;
    margin-right: 20px;
    font-style: normal
}

.items__txt__price span i {
    font-style: normal;
    font-size: 14px
}

.items__txt__price em {
    font-weight: 400;
    font-style: normal;
    font-size: 12px
}


.pagination {
    margin: 0 12px 20px 0;
    float: right;
 .el-pagination{
    white-space: nowrap;
    padding: 2px 5px;
    color: #303133;
    font-weight: 700;
     .is-background {
        .el-pager li:not(.disabled).active {
            background-color: #ff1268!important;
            color: #fff;
        }
        .el-pager li:not(.active):hover {
            color: #ff1268!important
        }
    }
    button{
            border: none;
            padding: 0 6px;
            background: 0 0;
            &:focus{
                outline: 0;
            }
            &:hover{
                color: #409eff;
            }
            &:disabled{
                color: #c0c4cc;
                background-color: #fff;
                cursor: not-allowed;
            }
    }
    button,span:not([class*=suffix]){
        display: inline-block;
        font-size: 13px;
        min-width: 35.5px;
        height: 28px;
        line-height: 28px;
        vertical-align: top;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    .el-input__inner{
        text-align: center;
        -moz-appearance: textfield;
        line-height: normal
    }
    .el-input__suffix {
        right: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    .el-select {
        .el-input {
            width: 100px;
            margin: 0 5px
        }
    }
    .btn-next,.btn-prev{
        background: 50% no-repeat #fff;
        background-size: 16px;
        cursor: pointer;
        margin: 0;
        color: #303133;
    }
    .btn-prev{
        padding-right: 12px;
        .el-icon{
            display: block;
            font-size: 12px;
            font-weight: 700
        }
    }
    .btn-next{
        padding-left: 12px;
        .el-icon{
            display: block;
            font-size: 12px;
            font-weight: 700
        }
    }
    .el-pager{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        list-style: none;
        font-size: 0;
        li{
            padding: 0 4px;
            background: #fff;
            font-size: 13px;
            min-width: 35.5px;
            height: 28px;
            line-height: 28px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
        }
        li.disabled{
            color: #c0c4cc;
            cursor: not-allowed;
        }
        li,
        li.btn-quicknext:hover,
         li.btn-quickprev:hover {
            cursor: pointer;
            line-height: 28px;
            color: #303133
        }
    }
    &::after{
        clear: both;
    }
    &::after,&::before{
        display: table;
        content: ""
    }
    &.is-background{
        .btn-next, .btn-prev, .el-pager li {
            margin: 0 5px;
            background-color: #f4f4f5;
            color: #606266;
            min-width: 30px;
            border-radius: 2px
        }

 .btn-next.disabled, .btn-next:disabled, .btn-prev.disabled, .btn-prev:disabled, .el-pager li.disabled {
    color: #c0c4cc
}

 .el-pager li:not(.disabled):hover {
    color: #ff1268!important
}

 .el-pager li:not(.disabled).active {
    background-color: #ff1268!important;
    color: #fff
}

.el-pagination--small .btn-next,.el-pagination--small .btn-prev,.el-pagination--small .el-pager li {
    margin: 0 3px;
    min-width: 22px
}
    }
 }
}
.pagination-top a {
    display: block;
    width: 19px;
    height: 19px;
    float: left;
    background: url(//img.alicdn.com/tfs/TB1zmLCP4TpK1RjSZFMXXbG_VXa-200-700.png) no-repeat scroll;
    margin-top: 10px;
    &.sort__prev {
        background-position: 0 -218px;
        margin-left: 10px
    }
    &.a.sort__prev:hover {
    background-position: 0 -237px
    }
    &.sort__prev_gray {
        background: url(//img.alicdn.com/tfs/TB1sIDpy4GYBuNjy0FnXXX5lpXa-21-578.png) no-repeat 2px -8px;
        pointer-events: none
    }
    &.sort__prev_gray:hover {
    pointer-events: none
    }
    &.sort__next {
        background-position: -19px -218px;
        margin-right: 10px;
        &:hover {
            background-position: -19px -237px
        }
    }
    &.sort__next_gray {
    background: url(//img.alicdn.com/tfs/TB1sIDpy4GYBuNjy0FnXXX5lpXa-21-578.png) no-repeat 2px -23px;
    pointer-events: none
}
}
.el-pagination--small{
    .btn-next,
    .btn-prev,
    .el-pager  li.btn-quicknext, .el-pager li, .el-pager li.btn-quickprev, .el-pager li:last-child {
        border-color: transparent;
        font-size: 12px;
        line-height: 22px;
        height: 22px;
        min-width: 22px;
    }

 .arrow.disabled {
    visibility: hidden
}

 .more:before, li.more:before {
    line-height: 24px
}

 button, span:not([class*=suffix]) {
    height: 22px;
    line-height: 22px
}
 
}
.search__itemlist {
    zoom:1;border: 1px solid #efefef;
    border-top: none;
}
.search__box {
    padding: 20px 10px 0
}
.search__item {
    zoom:1;margin-bottom: 20px;
    &::after {
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        content: "."
    }
}
.search__title {
    height: 37px;
    line-height: 37px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
    font-family: Microsoft YaHei;
    color: #000;
    padding: 0 15px
}

.search__item__poster {
    cursor: pointer
}

.search__item__poster img {
    width: 98px;
    height: 132px;
    float: left
}

.search{
    .search__item__info {
        float: left;
        width: 123px;
        padding-left: 10px

    }
    .search__item__info__title {
        height: 48px;
        line-height: 16px;
        margin-bottom: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: #333;
        display: block
    }
    .search__item__info__venue {
    color: #999;
    white-space: nowrap
    }
    .search__item__info__price {
        color: #999;
        padding-top: 14px;
        font-size: 12px
    }
    .search__item__info__price strong {
        color: #ed0a75;
        font-size: 14px;
        padding-right: 5px
    }
    .search__item__info__title,.search__item__info__venue {
    font-size: 12px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}
}

.search__itemlist:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: "."
}

.search-like {
    width: 258px;
    border: 1px solid #eaeaea;
    margin-left: 10px;
    max-height: 514px
}

.el-pagination__sizes {
    margin: 0 10px 0 0;
    font-weight: 400;
    color: #606266;
    .el-input{
        .el-input__inner{
            font-size: 13px;
            padding-left: 8px;
            &::hover{
                border-color: #409eff;
            }
        }
    }
}

.el-pagination__total {
    margin-right: 10px;
    font-weight: 400;
    color: #606266
}

.el-pagination__jump {
    margin-left: 24px;
    font-weight: 400;
    color: #606266;
    .el-input__inner {
        padding: 0 3px;
    }
}

.el-pagination__rightwrapper {
    float: right
}

.el-pagination__editor {
    line-height: 18px;
    padding: 0 2px;
    height: 28px;
    text-align: center;
    margin: 0 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    &.el-input{
        width: 50px;

    }
    .el-input__inner {
        height: 28px;
        &::-webkit-inner-spin-button,&::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }

    }
}